<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="directxmath" version="2021.1.11.2" targetFramework="native" />
  <package id="directxtex_uwp" version="2021.1.10.2" targetFramework="native" />
  <package id="fmt" version="7.0.1" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.210211.2" targetFramework="native" />
</packages>